.pagination {
  border-top: 1px solid #000;
  padding-top: 3px;
}
.pagination ul {
  padding: 0;
}
.pagination li {
  display:inline;
  list-style: none;
  padding:10px;
}
.pagination li a {
  text-decoration: none;
  color: #000;
}

.pagination .active {
  font-weight: bold;
  border-bottom: 1px solid #000;
}

@media (max-width: 1235px) {
  .pagination li {
    padding: 3px;
  }
}