.pagination {
  border-top: 1px solid #000;
  padding-top: 3px;
}
.pagination ul {
  padding: 0;
}
.pagination li {
  display:inline;
  list-style: none;
  padding:10px;
}
.pagination li a {
  text-decoration: none;
  color: #000;
}

.pagination button {
  background-color: transparent;
  border-radius: 0;
  cursor: pointer;
}

@media (max-width: 1235px) {
  .pagination li {
    padding: 3px;
  }
}